* {
  box-sizing: border-box;
}

html {
  background-color: #f9f9f5;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  height: 100vh;
  border: solid 16px white;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.menu {
  background-color: #66d9d9;
  border: none;
  color: #141415;
  padding: 5px 10px;
  border-radius: 96px;
}

.nav-links {
  width: 100%;
  margin: 0;
  display: none;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0d0950;
  transition: background-color 0.3s ease;
  border-radius: 96px;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

:has(.menu[aria-expanded='true']) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    position: static;
    width: auto;
    background: none;
    display: flex;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .menu {
    display: none;
  }
}
