---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>This is where I present cool stuff</h1>
    <h2>About me</h2>
    <p>I’m working on an ASTRO tutorial and am trying to figure this out</p>
    <p>This site will update all the time</p>
  </body>
</html>
